.project-image-div {
  position: relative;
  width: 770px;
  height: 450px;
  margin-left: 40%;
  margin-top: 5%;
}

.project-image {
  border-radius: 10px;
  width: 700px;
  height: 450px;
}

.caption {
  color: white;
  font-size: 21px;
}

@media screen and (max-width: 1300px) {
  .project-image-div {
    position: relative;
    width: 650px;
    height: 330px;
    margin-left: 40%;
    margin-top: 5%;
  }

  .project-image {
    border-radius: 10px;
    width: 580px;
    height: 330px;
  }
}

/*Ipad Pro*/
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .project-image-div {
    position: relative;
    margin: auto;
  }

  .project-image-div {
    position: relative;
    width: 770px;
    height: 390px;
    margin-top: 5%;
  }

  .project-image {
    border-radius: 10px;
    width: 700px;
    height: 390px;
  }
}

/*Ipad Air*/
@media screen and (max-width: 820px) and (max-height: 1180px) {
  .project-image-div {
    position: relative;
    margin: auto;
  }

  .project-image-div {
    position: relative;
    width: 650px;
    height: 390px;
    margin-top: 5%;
  }

  .project-image {
    border-radius: 10px;
    width: 650px;
    height: 390px;
  }
}

/*IPhone X*/
@media screen and (max-width: 428px) and (max-height: 926px) {
  .project-image-div {
    width: 320px;
    height: 191px;
    margin-left: 4.7%;
    margin-top: 5%;
  }

  .project-image {
    border-radius: 10px;
    width: 320px;
    height: 191px;
  }

  .caption {
    color: white;
    font-size: 13px;
  }
}
