.banksee {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #db7093;
}

h4 {
  margin-bottom: 10px;
}

.ethical-review {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #00539b;
}

.spread-the-dead {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(38, 38, 38);
}

.linear-codes {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #bebebe;
}

.project-image-div {
  position: relative;
  width: 770px;
  height: 390px;
  margin-left: 40%;
  margin-top: 5%;
}

.project-image {
  border-radius: 10px;
}

.project-summary {
  position: relative;
  font-size: 19px;
  margin-left: 4%;
  bottom: 75%;
  width: 34%;
  text-align: justify;
  color: white;
}

.project-summary2 {
  position: relative;
  font-size: 19px;
  margin-left: 4%;
  bottom: 75%;
  width: 34%;
  text-align: justify;
  color: black;
}

.features {
  font-size: 18px;
}

.projects-heading {
  text-align: center;
  font-size: 55px;
}

.project-title {
  font-size: 40px;
  padding-top: 2vh;
  color: white;
}

.project-title2 {
  font-size: 40px;
  padding-top: 2vh;
  color: black;
}

li {
  margin: 5px 0;
}

.slide-button-left {
  transform: scale(1.4);
  background: none;
  border: 0px;
  color: white;
  margin-left: 8.5px;
}

.slide-button-right {
  transform: scale(1.4);
  background: none;
  border: 0px;
  color: white;
}






