.banksee {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #db7093;
}

.banksee:hover {
}

.ethical-review {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #00539b;
}

.spread-the-dead {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: rgb(38, 38, 38);
}

.linear-codes {
  position: relative;
  margin: auto;
  text-align: center;
  height: 700px;
  width: 1300px;
  margin-bottom: 10vh;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  background-color: #989898;
}

.project-image {
  position: relative;
  width: 700px;
  height: 390px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-left: 37%;
  margin-top: 5%;
}

.project-summary {
  position: relative;
  font-size: 20px;
  margin-left: 4%;
  bottom: 84%;
  width: 35%;
  text-align: left;
  color: white;
}

.projects-heading {
  text-align: center;
  font-size: 55px;
}

.project-title {
  font-size: 40px;
  padding-top: 2vh;
  color: white;
}

li {
  margin: 5px 0;
}

.slide-button-left {
  transform: scale(1.5);
  background: none;
  border: 0px;
  margin-left: 15px;
  color: white;
}

.slide-button-right {
  transform: scale(1.5);
  background: none;
  border: 0px;
  margin-right: 5px;
  color: white;
}

.logo-stack {
  position: relative;

  left: 47px;
  width: 1000px;
  padding: 5px;
  border-radius: 5px;
}

.tech-logo {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
}

.postgres-logo {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  left: 105px;
}

.gradle-logo {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  left: 90px;
}

.javafx-logo {
  position: relative;
  width: 110px;
  height: 40px;
  display: flex;
}
