.introduction-div {
  color: white;
  padding-top: 1vh;
  background: #396afc;
  background: -webkit-linear-gradient(to left, #2948ff, #396afc);
  background: linear-gradient(to left, #2948ff, #396afc);
  min-height: 937px;
  text-align: center;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: black;
}

.name {
  font-size: 110px;
  margin-bottom: -1%;
  min-width: 40%;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.job-title {
  font-size: 45px;
  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.profile-description {
  position: relative;
  font-size: 30px;
  max-width: 960px;
  text-align: justify;
  margin: auto;
  top: 30px;

  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.contact-me {
  position: relative;
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  top: 80px;
  font-size: 30px;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floating2 {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, -30px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.down-arrow {
  position: relative;
  text-align: center;
  margin-top: 230px;

  animation: fadeInAnimation ease 3.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  animation-name: floating2;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}


