.logo-stack {
  position: relative;
  left: 3.3%;
  padding: 5px;
  border-radius: 5px;
  top: 85px;
}

.tech-logo {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
}

.postgres-logo {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  left: 105px;
}

.javafx-logo {
  position: relative;
  width: 110px;
  height: 40px;
  display: flex;
}

.github {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  left: 82%;
}

.github2 {
  position: relative;
  width: 40px;
  height: 40px;
  display: flex;
  left: 101%;
}

.source-code {
  font-size: 22px;
  font-weight: bold;
  color: white;
  position: relative;
  display: flex;
  left: 50%;
}

.source-code2 {
  font-size: 22px;
  font-weight: bold;
  color: white;
  position: relative;
  display: flex;
  left: 62%;
}

/*Ipad Pro*/
@media screen and (max-width: 1024px) and (max-height: 1366px) {
  .logo-stack {
    left: 9%;
    padding: 5px;
    border-radius: 5px;
    top: 330px;
  }
  
  .tech-logo {
    width: 50px;
    height: 50px;
    display: flex;
  }
  
}