
.social-div {
  background-color: white;
  width: 420px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  position: relative;
  margin-left: 10%;
  margin-top: 70px;
  justify-content: center;
}

.icon {
  padding-left: 33px;
  padding-right: 33px;
  padding-top: 1%;
  width: 70px;
  height: 70px;
}