
.social-div {
  position: relative;
  background-color: white;
  width: 400px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 15px;
  margin-left: 250px;
  margin-top: 110px;
  justify-content: center;
}

.icon {
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 1%;
  width: 80px;
  height: 80px;
}