html {
  scroll-behavior: smooth;
}

body {
  font-family: "Manrope";
}

.top {
  position: relative;
  margin: auto;
  text-align: center;
  justify-content: center;
  font-size: 30px;
  bottom: 15px;
  width: 200px;
  color: white;
}

.top:hover {
  font-weight: bolder;
  color: black;
}

.footer-div {
  position:relative;
  height: 199px;
  padding-top: 2px;
  background: #396afc;
  background: -webkit-linear-gradient(to left, #2948ff, #396afc);
  background: linear-gradient(to left, #2948ff, #396afc);
}